<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/home/popup.js" defer></script>
    <title>EMR</title>
</head>
<body>
    부모 데이터 전달 받기 Item2<br>
    <input id="name" type="text"><br>
    <input id="age" type="text"><br>
    <input id="tel" type="text"><br>
</body>
</html>